* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 20px; 
}

body {
    background: #9DD3B5;
}

header {
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CDCDCD;
}

header, .main, footer, aside {
    background: #CDCDCD;
    width: 90%;
    margin: 45px auto;
    max-width: 1000px;

}

header nav {
    background: #528FD5;
    overflow: hidden;
}
header nav ul {
    list-style: none;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    color: beige;
    text-decoration:none;
    padding: 20px 30px;
    display: block;

}

.titulo {
    position: relative;
    left: 33%;
    top: 55px;
    
}

header nav ul li a:hover {
    background: #A2DEDA;
}

.main .articles {
    width: 68.5%;
    margin: 1.5%;
    float: left;
}

.main .articles article{
    background: #fff;
    margin-bottom: 20px;
    padding: 30px;
}

aside {
    width: 30%;
    background: #ff8000;
    float: left;
    position: relative;
    top: -30px;
}

footer {
    background:#000;
    color: #fff;
    clear: both;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 273.5px;
    display: block;
}

footer p {
    position: relative;
    left: 270px;
}

p .clan_incognito_info {
    color: #000;
    background: #528FD5;
    font-family: "Times New Roman", Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 25px;
    padding: 25px;      
}

aside dir {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 25px;
    padding: 25px;
}

aside dir a {
    position: relative;
    left: 35%;
}

.header1 {
    position: relative;
    top: 45px;
}

header div h1 .titulo {
    position: relative;
    top: 40px;
}